/* Sección Navegador */
.navegador2 {
    padding: 2em;
    background-color: var(--color-secundario);
    text-align: center;
    color: var(--color-texto);
}

.navegador2 h1 {
    color: var(--color-boton);
    font-size: 2em;
    margin-bottom: 1em;
}

.nav2 a {
    color: var(--color-texto);
    font-weight: bold;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 15px;
    background-color: var(--color-boton);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav2 a:hover {
    background-color: var(--color-hover);
}

.container_2 {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.container_2 main {
    background-color: var(--color-primario);
    padding: 2em;
    border-radius: 8px;
    color: var(--color-texto);
    max-width: 600px;
    width: 100%;
}

.container_2 h2 {
    color: var(--color-accento);
    text-align: center;
    margin-bottom: 1em;
}

.upload-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.upload-section input[type="file"] {
    align-self: center;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    border: 2px dashed var(--color-borde);
    border-radius: 8px;
    padding: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.upload-box img {
    max-width: 50px;
    margin-bottom: 0.5em;
}

.upload-box p {
    color: var(--color-texto);
}

.upload-box:hover {
    background-color: var(--color-hover);
}

label {
    color: var(--color-texto);
    font-weight: bold;
}

#file-name {
    padding: 0.5em;
    border: 1px solid var(--color-borde);
    border-radius: 4px;
    width: 100%;
}

.buttons {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.upload-btn, .cancel-btn {
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-btn {
    background-color: var(--color-boton);
    color: var(--color-texto);
}

.upload-btn:hover {
    background-color: var(--color-hover);
}

.cancel-btn {
    background-color: var(--color-secundario);
    color: var(--color-texto);
}

.cancel-btn:hover {
    background-color: var(--color-hover);
}

.download-btn {
    padding: 0.6em 1.2em;
    background-color: var(--color-boton); /* Color de fondo del botón */
    color: var(--color-texto); /* Color del texto */
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none; /* Sin subrayado */
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 0.8em; /* Espacio superior para separar el botón del texto */
}

.download-btn:hover {
    background-color: var(--color-hover); /* Color de fondo al pasar el mouse */
}
